.forgot-container {
  min-height: 100vh;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.forgot-card {
  width: 100%;
  max-width: 420px;
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  background: #fff;
}

.forgot-title {
  font-weight: 600;
  margin-bottom: 10px;
}

.forgot-subtext {
  font-size: 14px;
  color: #6c757d;
  margin-bottom: 20px;
}

.btn-send {
  width: 100%;
  border-radius: 8px;
}