<div class="forgot-container">
    <div class="forgot-card text-center">
    <h4 class="forgot-title">Forgot Password?</h4>
    <p class="forgot-subtext">
      Enter your email address and we’ll send you a reset link.
    </p>

    <form>
      <div class="mb-3 text-start">
        <label for="email" class="form-label">New Password</label>
        <input type="password" name="password" class="form-control" placeholder="Enter new password" requiredname="password" [(ngModel)]="password"  />
      </div>

      <button type="submit" class="btn btn-primary btn-send" (click)="UpdatePassword()">
        
        <span *ngIf="isLoading"><i class="fa fa-spinner fa-spin me-2"></i>Sending....</span>
        <span *ngIf="!isLoading">Update Password</span>
      </button>
    </form>

    
  </div>
</div>
