<div class="dropdown-container mt-3">
  <h3 class="mb-4 text-center">Select Role and Menu</h3>

  <form>
    <!-- Role Dropdown -->
    <div class="mb-3">
      <label for="roleSelect" class="form-label">Role</label>
      <select
        class="form-select"
        id="roleSelect"
        [(ngModel)]="selectedRole"
        name="role">
        <option value="Manager">Manager</option>
        <option value="User">User</option>
      </select>
    </div>

    <!-- Menu Dropdown -->
    <div class="mb-3">
      <label for="menuSelect" class="form-label">Menu</label>
      <select
        class="form-select"
        id="menuSelect"
        [(ngModel)]="selectedMenuId"
        name="menu">
        <option [value]="0">Select Menu</option>
        <option *ngFor="let menu of menunameList" [value]="menu.menuId">
          {{ menu.label }}
        </option>
      </select>
    </div>

    <button
      type="button"
      class="btn btn-primary w-100"
      (click)="saveMapping()">
      Save
    </button>
  </form>
</div>

<div class="card shadow-sm mt-5">
    <div class="card-header bg-secondary text-white">
      <h4 class="mb-0"><i class="fa fa-list me-2"></i>Existing Menu Assignments</h4>
    </div>
    <div class="card-body table-responsive">
      <table class="table table-hover align-middle">
        <thead class="table-light">
          <tr>
            <th>Role Name</th>
            <th>Label</th>
            <th class="text-center">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let menu of menuList">
            <td>{{ menu.role }}</td>
            <td>{{ menu.label }}</td>
            
            <td class="text-center">
              <button  class="btn btn-warning btn-sm me-2" title="Edit">
                <i class="fa fa-pencil-alt"></i>
              </button>
              <button (click)="delete(menu.permission_id)" class="btn btn-danger btn-sm" title="Delete">
                <i class="fa fa-trash-alt"></i>
              </button>
            </td>
          </tr>
          <!-- <tr *ngIf="leaveTypes.length === 0">
            <td colspan="4" class="text-center text-muted">No leave types available.</td>
          </tr> -->
        </tbody>
      </table>
    </div>
  </div>